body {
  background-color: #f6f1ee;
  color: #000000;
  margin: 0;
  font-family: 'Lato', sans-serif;
  transition: background-color 0.4s cubic-bezier(0.77, 0, 0.175, 1),
    color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

h1 {
  font-size: 3em;
  font-weight: 400;
}

h2,
h3 {
  font-weight: 400;
}

p {
  font-family: 'Noto Serif JP', serif;
  font-size: 1em;
}

input {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.switch {
  background-color: #3c9aff;
  position: relative;
  border-radius: 100px;
  display: block;
  margin: -10px auto 0px auto;
  cursor: pointer;
  width: 72px;
  height: 40px;
  transition: background-color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.switch:before {
  content: '';
  position: absolute;
  background-color: #ffffff;
  border-radius: 16px;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sidebar {
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  width: 250px;
  padding: 2% 0% 0%;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  user-select: none;
  z-index: 1;
  transition: background-color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.sidebar h2:active {
  color: #3c9aff;
}

.toggle-container {
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 20px;
  margin-left: -100px;
  width: 200px;
  height: 60px;
  text-align: center;
}

.toggle-container h2:active {
  animation: wobble 0.3s;
}

@keyframes wobble {
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  60% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.navbar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  top: 150px;
  left: 50%;
  text-align: left;
  margin: 20px;
  margin-left: -100px;
  width: 200px;
  height: calc(100% - 150px);
}

.navbar-container h2 {
  cursor: pointer;
  transform: translate(-3px);
  margin-left: 39px;
  transition: transform 0.15s ease-out;
}

.navbar-container h2:hover {
  transform: translate(3px);
  transition: transform 0.15s ease-in;
}

#focused {
  color: #3c9aff;
  transition: transform 0.15s ease-in,
    color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.bar-line {
  background-color: #3c9aff;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  left: 248px;
  transition: background-color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.content {
  height: 100%;
  width: auto;
  margin-left: 250px;
  overflow: auto;
  padding: 0px 40px;
  box-sizing: border-box;
}

.article-container {
  background-color: #ffffff;
  border-style: none;
  margin: 40px auto;
  padding: 20px 0px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.article-container h1,
p {
  margin: 0px 20px;
}

.line {
  background-color: #3c9aff;
  margin-bottom: 30px;
  width: 100%;
  height: 5px;
  transition: background-color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

body.darkness {
  background-color: #242a42;
  color: #ffffff;
}

.darkness.sidebar,
.darkness.article-container {
  background-color: #383e54;
}

.darkness.bar-line,
.darkness.line,
.darkness.switch {
  background-color: #ff4d76;
}

.darkness.sidebar h2:active,
.darkness.navbar-container #focused {
  color: #ff4d76;
}

.switch.darkness:before {
  transform: translateX(32px);
}

@media only screen and (max-height: 450px) {
  .navbar-container {
    top: 120px;
  }
  .navbar-container h2 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    height: 100px;
    width: 100%;
    padding: 0%;
  }

  .toggle-container {
    left: 0%;
    height: 100%;
    width: 150px;
    margin: 0px;
  }

  .toggle-container h2 {
    position: absolute;
    left: 15px;
    top: 6px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  label {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0px;
    right: 4px;
    top: 50px;
    width: 72px;
    height: 40px;
  }

  .navbar-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 0px;
    left: calc(100% - 200px);
    text-align: left;
    margin: 0px;
    width: 200px;
    height: 100px;
  }

  .navbar-container h2 {
    margin-block-start: 0px;
    margin-block-end: 8px;
    margin-left: 20px;
  }

  .bar-line {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 98px;
    left: 0px;
  }

  .content {
    margin-left: 0px;
    margin-top: 100px;
    height: calc(100% - 100px);
    padding: 0px 3vw;
  }

  .article-container {
    margin: 3.5vh auto;
    padding: 1.5vh 0px;
  }

  .article-container h1,
  p {
    margin: 0px 3vw;
  }
}

.no-anim,
.no-anim #focused,
.no-anim:before {
  transition: none;
}
