$background-color: #eee;
$accordion-color: rgb(163, 197, 228);
$inside-color: rgb(138, 167, 194);
$text-color: #333;

* {
  font-family: 'Sen', sans-serif;;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

h1 {
  text-align: center;
  line-height: 100px;
  margin-block-start: 0px;
  margin-block-end:0px;
}

.accord-frame {
  background-color: $accordion-color;
  max-width: 600px;
  margin: 100px auto 0;
  ul {
    margin-top: 0px;
    list-style: none;
    padding-left: 0px;
    color: $text-color;
    li {
      input[type='checkbox'] {
        height: 0;
        width: 0;
        visibility: hidden;
        &:checked {
          & ~ p {
            padding: 0px 20px;
            max-height: 0;
          }
        }
      }
      label {
        line-height: 60px;
        text-align: center;
        display: block;
        margin-top: -8px;
        width: 100%;
        cursor: pointer;
      }
      p {
        background-color: $inside-color;
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 1em;
        margin: 0px;
        padding: 20px;
        max-height: 200px;
        overflow: hidden;
        transition: 0.2s;
      }
    }
  }
}
