.display {
  background-color: #003147;
  color: #ffeb7d;
  text-align: right;
  direction: rtl;
  margin: 5px auto;
  padding: 0px 5px 0px 5px;
  width: 432px;
  height: 45px;
  border-style: none;
  border-radius: 10px 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.display::before {
  content: '\200E'
}

.display::after {
  content: '\200E'
}

.display-container {
  background-color: #edf7fa;
  margin: 10% auto auto auto;
  width: 452px;
  padding: 5px;
}

.rack {
  background-color: #edf7fa;
  margin: 20px auto auto auto;
  width: 452px;
  height: 350px;
  padding: 5px;
}

body {
  background-color: #4b4f6b;
}

button {
  text-align: center;
  background-color: #d3dcf0;
  color: #655b82;
  outline: none;
  margin: 5px;
  padding: 0px;
  width: 100px;
  height: 60px;
  border-style: none;
  border-radius: 10px 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  transition-property: background-color, color;
  transition-duration: .2s;
}

button:hover {
  background-color: #fff3b8;
  color: #655b82;
  transition-property: all;
  transition-duration: .2s;
}

button:active, button.active {
  background-color: #c2ffe1;
  color: #655b82;
  transition-property: all;
  transition-duration: 0s;
}